
@{
    ViewBag.Title = "Index";
}

@using AVACOM_Online_Testiranje.Areas.Admin.Models
@model AVACOM_Online_Testiranje.Areas.Admin.Models.PitanjePrikaziVM


@*pocetna zaa admina *@ 

<div class="container">
    <div class="jumbotron" style="background-image: url('/Content/img/images.png');  <div style="height:300px;">

           <h1>ADMINISTRATOR</h1>
                    <p>
                    <br/>
                        <br />
                   
                        uvid u vec testirane korisnike, kreiranje testova, ubacivanje pitanja
                        <br />
                        <br />
                        <br /><br />
                        
                    </p>
                </div>


    </div>
</div>
    </div></div>



